.filter-wrap {
  display: grid;
  gap: 10px;
  align-items: start;
  justify-content: start;
  align-content: start;
}
.filter-wrap__mobile-close-filter {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  padding: 20px;
  background-color: transparent;
  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 4px;
    background-color: rgba($color: #1f2020, $alpha: 0.6);
  }

  @media (min-width: $width-tablet-h) {
    display: none;
  }
}

.filter-wrap__item-text-label {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 100%;
  margin-left: 8px;
}
