.site-breadcrumbs {
  @media (min-width: $width-tablet-h) {
    border-top: 0;
    position: absolute;
    z-index: 5;
  }
}

.site-breadcrumbs__wrap {
  border-top: 1px solid rgba($color: #1f2020, $alpha: 0.06);
  padding-top: 16px;
  margin-bottom: 28px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  --gap: 8px;
  gap: var(--gap);

  a {
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    color: rgba($color: #1f2020, $alpha: 0.3);
    @media (min-width: $width-tablet-h) {
      color: rgba($color: #fff, $alpha: 0.3);
    }

    &:not(:last-child) {
      &:hover {
        color: $text-color;
        @media (min-width: $width-tablet-h) {
          color: #fff;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #c4c4c4;
        @media (min-width: $width-tablet-h) {
          background-color: rgba($color: #c4c4c4, $alpha: 0.3);
        }
      }
    }
  }
}
