$min-width: 320px;
$max-width: 1852px;
$width-mobile: 320px;
$width-mobile-h: 667px;
$width-tablet: 767px;
$width-tablet-h: 1020px;
$width-desktop: 1340px;

$transition: 0.3s ease-out 0s;
$font-family: "Inter", "Arial", sans-serif;

$primary-color: #7bb899;

$main-bg-color: #ecf7f3;
$text-color: #1f2020;
$color-white: #ffffff;
$btn-border-radius: 20px;
